<!doctype html>
<html>
<head>
    <title>Thanks for playing!</title>
</head>
<body>
    <form action="/madlib">
        <p>Name a friend or an enemy</p>
        <div>
            <textarea name="frienemy"></textarea>
        </div>
        <p>Name a color</p>
        <div>
            <textarea name="color"></textarea>
        </div>
        <p>Give us a noun</p>
        <div>
            <textarea name="noun"></textarea>
        </div>
        <p>Give us an adjective</p>
        <div>
            <textarea name="adjective"></textarea>
        </div>
        <input type="submit">
    </form>
</body>
</html>